@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
}

.page__margin {
  margin: 20px;
}

/* Nav */

nav {
 height: 80px;
 display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.img__logo {
    width: 40px;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
}

.nav_link:hover {
    text-decoration: underline;
}

.btn__nav{
    padding: 8px;
    background-color: #7342d6;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.purple {
  color: rgb(100 21 255);
}



/* HEADER */

.h1__header {
  font-size: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  margin: 50px;
  height: 100vh;
}

.header__wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.img__customers {
 width: 100%;
}

.img__header {
  width: 60%;
}

.btn__header {
    background-color: #7342d6;
    color: white;
    border-radius: 20px;
    padding: 4px;

}
