@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", system-ui;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* Nav */

nav {
  height: 80px;
  display: flex;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.img__logo {
  width: 40px;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
}

.btn__nav {
  padding: 8px;
  background-color: #7342d6;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.purple {
  color: rgb(100 21 255);
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__Link {
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
}

/* LANDING */

.h1__landing {
  font-size: 32px;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px;
}

.landing__container {
  display: flex;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.landing__wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  height: 100%;
}

.landing__left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p__landing {
  margin-top: 24px;
  margin-bottom: 24px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.customers {
  margin-top: 24px;
  opacity: 0.5;
}

.customers__text {
  font-size: 12px;
  margin-bottom: 12px;
}

.img__customers {
  width: 100%;
}

.img__landing--wrapper {
  width: 60%;
}

.img__landing {
  width: 100%;
}

.nav__links {
  align-items: center;
}

.email__wrapper {
  position: relative;
}

.btn__landing {
  background-color: #7342d6;
  color: white;
  border-radius: 20px;
  padding: 12px;
  position: absolute;
  right: 10px;
  bottom: 15%;
}

.email {
  padding: 20px;
  width: 100%;
  border-radius: 50px;
  opacity: 0.3;
}

/* FEATURES */

#features {
  margin: 32px;
}

.features__container {
  padding: 80px 0;
  opacity: 0.75;
}

.features__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 38px;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 12px 24px;
}

.features__p1 {
  font-weight: bold;
}

.features__h1 {
  font-size: 50px;
  font-weight: bold;
}

.features__p {
  text-align: center;
  max-width: 600px;
}

.features__group {
  display: flex;
  width: 100%;
  max-width: 350px;
  width: calc(100% / 3);
}

.features__text--group {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features__img {
  align-self: self-start;
  border: 1px solid rgb(190, 189, 189);
  border-radius: 50%;
  padding: 24px;
  margin-right: 24px;
}

/* QUALITY */

#quality {
  margin: 32px;
}

.quality__container {
  display: flex;
  padding: 80px 0;
}

.quality__text--group {
  width: 50%;
  margin-right: 24px;
}

.quality__title {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 900;
  margin-top: 24px;
}

.quality__text {
  line-height: 30px;
  letter-spacing: 0.025em;
  margin: 24px 0px;
}

.quality__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.quality__img {
  width: 100%;
}

.btn__quality {
  padding: 8px;
  background-color: #7342d6;
  color: white;
  border-radius: 20px;
  padding: 10px;
  tab-size: 4;
  text-size-adjust: 100%;
}

/* STEPS */

.steps__container {
  display: flex;
}

.steps__img--wrapper {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.steps__img {
  width: 100%;
  height: auto;
}

.steps__text--wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  opacity: 0.75;
}

.steps__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.025em;
  margin-bottom: 24px;
}

.steps__text--group {
  display: flex;
  margin-top: 24px;
  margin-right: 24px;
}

.steps__group--text {
  line-height: 2;
  font-size: 15px;
}

.steps__group--title {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.steps__num {
  font-size: 30px;
  font-weight: bold;
  margin-right: 20px;
  color: rgb(179, 179, 179);
}

/* VALUES */

.values__container {
  display: flex;
  margin: 80px 0;
}

.values__word {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.values__title {
  margin: 24px 0;
  font-size: 48px;
  text-align: left;
}

.values__body {
  font-size: 1.25rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  font-weight: 500;
  color: rgb(124 139 161);
  margin-bottom: 24px;
}

.values__text--wrapper {
  margin: 50px;
  width: 50%;
}

.values__wrapper {
  display: flex;
  opacity: 0.75;
}

.values__group--title {
  display: flex;
}

.values__group--word {
  margin: 12px;
}

.values__group--body {
  margin: 20px;
}

.values__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.values__img {
  width: 100%;
}

.values__btn {
  padding: 8px;
  background-color: #7342d6;
  color: white;
  border-radius: 20px;
  padding: 10px;
  tab-size: 4;
  text-size-adjust: 100%;
  margin: 24px;
}

/* PRICING */

.pricing__container {
  margin: 24px;
}

.pricing__title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.pricing__title {
  margin: 24px 0;
  display: flex;
  text-align: center;
  font-size: 48px;
}

.pricing__p {
  font-size: 1.25rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625;
  font-weight: 500;
  color: rgb(124 139 161);
  margin-bottom: 24px;
  display: flex;
  width: 50%;
  text-align: center;
}

.pricing__plan--container {
  display: flex;
  flex-wrap: wrap;
}

.pricing__plans {
  display: flex;
}

.pricing__plan--group {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  margin: 12px;
  position: relative;
}

.pricing__orange {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pricing__plan--group1 {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  margin: 12px;
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pricing__green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pricing__plan--group2 {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  margin: 12px;
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.pricing__plan--top2 {
  border: 0.5px solid rgb(226, 232, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pricing__plan--top {
  border: 0.5px solid rgb(226, 232, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pricing__plan--mid2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
}

.pricing__plan--mid {
  border: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.pricing__plan--bottom {
  border: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.pricing__plan--title {
  font-weight: 800;
}

.pricing__plan--price {
  font-size: 50px;
  margin: 24px 24px;
}

.pricing__plan--monthly {
  color: rgb(151, 151, 151);
}

.pricing__plan--monthly2 {
  color: white;
}

.pricing__plan--mid--title {
  font-weight: 800;
  font-size: 20px;
  margin: 24px;
}

.pricing__plan--info2 {
  color: white;
  margin: 12px;
}

.pricing__plan--info {
  color: rgb(151, 151, 151);
  margin: 12px;
}

.pricing__btn1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  width: 60%;
  margin: 12px;
  color: white;
  font-weight: bold;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.pricing__btn2 {
  width: 60%;
  margin: 12px;
  color: #7342d6;
  font-weight: bold;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.pricing__btn3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  width: 60%;
  margin: 12px;
  color: white;
  font-weight: bold;

  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

/* TESTIMONIALS */

.test__container {
  display: flex;
  margin: 150px 0;
}

.test__img--wrapper {
  width: 50%;
  margin: 0 24px;
  align-items: center;
  display: flex;
}

.test__img {
  width: 100%;
  height: auto;
}

.test__text--wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.test__testimonial {
  font-weight: bold;
}

.test__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 24px;
}

.test__body {
  margin-bottom: 24px;
  font-size: 1.125rem;
  text-align: left;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.test__test--title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0;
}

.test__test--body {
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(74 85 104 / var(--tw-text-opacity));
}

.test__contact {
  display: flex;
  flex-direction: row;
  margin: 24px 0;
}

.test__contact--info--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 50px;
  margin-left: 24px;
}

.test__contact--info {
  display: flex;
  flex-direction: column;
}

.img__photo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.btn__arrows--wrapper {
  display: flex;
}

.btn__arrows {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(237 242 247 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  margin: 12px;
  border-color: rgb(226, 232, 240);
  box-shadow: none;
}

.test__divider {
  border: 1px solid black;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-right-width: 1px;
  border-color: rgb(226, 232, 240);
}

/* FAQS */

.faqs__faqs {
  font-weight: bold;
}

.faqs__title {
  font-size: 48px;
  margin: 24px;
}

.faqs__text {
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161);
  text-align: center;
  max-width: 36rem;
  font-size: 1.125rem;
  margin-bottom: 32px;
}

.faqs__questions {
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.faqs__text--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faqs__question {
  display: flex;
  justify-content: space-between;
  background-color: rgb(237 242 247);
  margin: 24px 75px;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

/* PRE-FOOTER */

.pre__footer--body {
  display: flex;
  background-color: rgb(100 21 255);
  border-radius: 0.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin: 150px 24px;
}

.pre__footer--h1 {
  color: white;
  font-size: 1.875rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  margin-left: 48px;
  width: 50%;
}

.pre__footer--btn--wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__get--started {
  background-color: rgb(245 101 101);
  color: white;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  border-radius: 9999px;
  border-width: 1px;
  border-color: transparent;
  margin-right: 24px;
}

.btn__contact {
  --tw-border-opacity: 1;
  border-color: rgb(160 174 192);
  color: white;
  padding: 1.25rem 2.5rem;
  font-size: 1rem;
  border-radius: 9999px;
  border-width: 1px;
  background-color: transparent;
  box-shadow: none;
}

/* FOOTER */

.footer__container {
  background-color: rgb(100 21 255);
  height: 100%;
}

.footer__links--wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 48px;
  color: white;
}

.footer__links {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
  color: white;
  gap: 24px;
}

.footer__links--title {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.footer__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  gap: 12px;
}

.footer__li {
  color: white;
  height: 100%;
}

.footer__a {
  color: white;
  text-decoration: none;
}

.footer__borderline {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(116 44 255 / var(--tw-border-opacity));
  border-style: solid;
}

.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
  margin: 0 24px;
}

.footer__logo--wrapper {
  display: flex;
}

.footer__img {
  width: 40px;
}

.footer__treact {
  color: white;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  display: flex;
  align-items: center;
}

.footer__copyright {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: white;
}

.footer__brands {
  display: flex;
  align-items: center;
}

.fa-brands {
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(247 250 252 / var(--tw-bg-opacity));
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
}

/* MEDIA */

@media (max-width: 550px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }

  .landing__container {
    display: flex;
    flex-direction: column;
  }

  .landing__wrapper {
    width: 100%;
    display: flex;
  }
  .img__landing--wrapper {
    margin: 0 auto;
    padding-top: 24px;
  }

  .features__title {
    text-align: center;
  }

  .features__h1 {
    margin: 24px 0;
  }

  .features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }

  .quality__container {
    display: flex;
    flex-direction: column;
  }

  .quality__text--group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .steps__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .steps__text--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.vlaues__container {
  display: flex;
  flex-direction: column;
}

.values__btn {
  margin: 0 auto;
}

.test__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.test__contact {
margin: 0 auto;
}

.pre__footer--body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre__footer--h1 {
  margin-bottom: 32px;
  width: 100%;
}
}

@media (max-width: 1025px) {

  .landing__container {
    display: flex;
    flex-direction: column;
  }

  .landing__wrapper {
    width: 50%;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }

  .p__landing {
margin: 0;
  }

  .img__landing--wrapper {
    margin: 0 auto;
    padding-top: 24px;
  }

  .features__container {
    margin-top: 250px;
  }

  .features__title {
    text-align: center;
  }

  .features__h1 {
    margin: 24px 0;
  }

  .features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }

  .quality__container {
    display: flex;
    align-items: center;
  }

  .quality__text--group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

.quality__img {
  margin: 50px 0;
}

  .steps__container {
    display: flex;
  flex-direction: row-reverse;
    align-items: center;
  }

  .steps__text--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .steps__img {
    margin-top: 50px;
  }

.vlaues__container {
  display: flex;
  flex-direction: column;
}

.values__btn {
  margin: 0 auto;
}

.pricing__plans {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test__container {
  display: flex;
  align-items: center;
  text-align: center;
}

.test__text--wrapper {
  margin: 24px;
}

.test__contact {
margin-top: 32px;
}

.pre__footer--body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pre__footer--h1 {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}
  
}